header {
    color: rgb(66, 136, 194);
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

body {
    font-size: 20px;
    background-image: url(background2.jpg);
    color: black;
    text-align: center;
}
.choices:hover {
    
    transform: scale(1.3);

}
.choices {
    background: none;
    border: none;
    text-align: center;
    padding: 40px;
    font-size: 125px;
    
}
#newGame {
    background-color: yellowgreen;
    color:black;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}
#newGame:hover {
    background-color:rgb(233, 138, 14);
    transform: scale(1.1);
}
#computerChoice {
    color: rgb(102, 3, 214);
}
#playerChoice {
    color: rgb(34, 153, 5);
}
#result {
    color:rgb(190, 6, 113);
}
#compScore {
    color: red;
    font-size: 35px;
}
#playScore {
    color: red;
    font-size: 35px;
}
#gameResult {
    color: rgb(247, 45, 247);
}